<div class="main_content">
  <div class="left_content">
    <h1>Main Services</h1>
    <p> <span class="orange"><strong>Lorem ipsum dolor sit amet</strong></span><br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br />
      <br />
      <span class="orange"><strong>Lorem ipsum dolor sit amet</strong></span><br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <img src="/assets/big_pic.jpg" alt="" class="big_pic" /> </div>
  <!--End of left_content-->

  <div class="right_content">
    <h1>What we offer</h1>
    <div class="services_list">
      <ul>
        <li><a href="#">
            <span>1</span> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a>
        </li>
        <li><a href="#">
            <span>2</span> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a>
        </li>
        <li><a href="#">
            <span>3</span> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a>
        </li>
        <li><a href="#">
            <span>4</span> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a>
        </li>
        <li><a href="#">
            <span>5</span> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a>
        </li>
        <li><a href="#">
            <span>6</span> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a>
        </li>
      </ul>
    </div>
    <h1>Principles</h1>
    <div class="principles_box"> <img src="/assets/small_pic1.jpg" class="principles_thumb" alt="" />
      <p class="principles"> <span class="orange"><strong>Lorem ipsum dolor sit amet</strong></span><br />
        Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation . </p>
    </div>
    <div class="principles_box"> <img src="/assets/small_pic2.jpg" class="principles_thumb" alt="" />
      <p class="principles"> <span class="orange"><strong>Lorem ipsum dolor sit amet</strong></span><br />
        Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation . </p>
    </div>
  </div>
  <!--End of right_content-->
  <div class="clear"></div>
</div>
<!--End of main_content-->

<script type="text/javascript">
  $(function() {

    $("body").addClass("details");

  });
</script>