<div class="main_content">
    <div class="left_content">
      <h1>Contact Us</h1>
      <div class="contact_form">
        <div class="form_row">
          <label class="contact">name:</label>
          <input type="text" class="contact_input" />
        </div>
        <div class="form_row">
          <label class="contact">email:</label>
          <input type="text" class="contact_input" />
        </div>
        <div class="form_row">
          <label class="contact">phone:</label>
          <input type="text" class="contact_input" />
        </div>
        <div class="form_row">
          <label class="contact">message:</label>
          <textarea class="contact_textarea" rows="" cols="" ></textarea>
        </div>
        <div class="form_row">
          <input type="image" src="/assets/send.gif" class="send"/>
        </div>
      </div>
    </div>
    <!--End of left_content-->
    <div class="right_content">
      <h1>Contact Informations</h1>
      <div class="contact_info"> <span class="orange">Adress:</span>
        <p class="info_contact"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
      <div class="contact_info"> <span class="orange">Email:</span>
        <p class="info_contact"> info@company.com </p>
      </div>
      <div class="contact_info"> <span class="orange">Phone:</span>
        <p class="info_contact"> 008 900 800 32   /    008 900 800 32 </p>
      </div>
      <div class="employe_box_left"> <span class="blue">Employe name</span><br />
        <span class="orange">Email:</span> info@company.com<br />
        <span class="orange">Phone:</span> 008 900 800 32 <br />
        <img src="/assets/contact_thumb1.gif" alt="" /> </div>
      <div class="employe_box_right"> <span class="blue">Employe name</span><br />
        <span class="orange">Email:</span> info@company.com<br />
        <span class="orange">Phone:</span> 008 900 800 32 <br />
        <img src="/assets/contact_thumb2.gif" alt="" /> </div>
    </div>
    <!--End of right_content-->
    <div class="clear"></div>
  </div>
  <!--End of main_content-->
  
<script type="text/javascript">
  $(function() {
    $("body").addClass("details");
  });
</script>