<%= render "common/home_center_content" %> 
<div class="main_content">
  <%= render "common/about_us_newsletter"   %>

  <%= render "common/featured_project_news_update"   %>        <!--End of right_content-->
  <div class="clear"></div>
</div>
<!--End of main_content-->
