<div class="left_content">
  <h1>About us</h1>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br />
    <br />
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <h1>Email Newsletter</h1>
  <p> Subscribe to our newsletter to stay up to date with us.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </p>
  <div class="newsletter">
    <input type="text" class="input newsletter_input" value="email" onclick="this.value = ''"/>
    <input type="image" src="/assets/subscribe.gif" class="subscribe" />
  </div>
</div>
<!--End of left_content-->