<div class="right_content">
  <h1>Featured projects</h1>
  <div class="project_box"> <a href="http://all-free-download.com/free-website-templates/"><img src="/assets/latest_project.jpg" alt="" border="0" class="feat_project" /></a>
    <div class="project_details"> <span class="left">project details</span> <a href="http://all-free-download.com/free-website-templates/" class="view">view project</a> </div>
  </div>
  <h1 class="orange">News &amp; Updates</h1>
  <div class="news_box"> <img src="/assets/news_thumb1.gif" class="news_thumb" alt="" />
    <p class="news_content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>
  <div class="news_box"> <img src="/assets/news_thumb2.gif" class="news_thumb" alt="" />
    <p class="news_content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>
</div>