<div class="footer">
  <div class="footer_content">
    <div class="footer_tab1">
      <h2>Get in touch</h2>
      <span class="email">Email: info@bridgetechsolution.com</span>
      <div class="footer_info"> <span class="orange">Adress:</span>
        <p class="info"> BridgeTech Solution, <br/> Pune </p>
      </div>
      <div class="footer_info"> <span class="orange">Phone:</span>
        <p class="info"> +91 XXX /   +91-8855839616 </p>
      </div>
      <div class="footer_copyrights"> <img src="/assets/footer_logo.gif" alt="" /><br />
        &copy; 2014 All Rights Reserved<br />
        <!--
        Template by: <a href="http://indeziner.com/">INDEZINER</a>
        -->
      </div>
    </div>
    <!--End of footer_tab1-->
    <div class="footer_tab2">
      <h2>Favorites</h2>
      <div class="favorites_box"> <span class="fav_nr">1</span>
        <p class="favorites"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="favorites_box"> <span class="fav_nr">2</span>
        <p class="favorites"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="favorites_box"> <span class="fav_nr">3</span>
        <p class="favorites"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
    </div>
    <!--End of footer_tab2-->
    <div class="footer_tab3">
      <h2>Links</h2>
      <div class="footer_links">
        <ul>
          <li><a href="http://all-free-download.com/free-website-templates/">Home</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Services</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Clients</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Work</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Terms &amp; conditions</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">RSS</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Contact</a></li>
        </ul>
      </div>
    </div>
    <!--End of footer_tab3-->
    <div class="clear"></div>
  </div>
  <!--End of footer_content-->
</div>
<!--End of footer-->