<div class="header">
  <div class="logo">
    <a href="http://all-free-download.com/free-website-templates/">
      <img src="/assets/logo.png" alt="" border="0" />
    </a>
  </div>
  <div id="menu">
    <ul>
      <li class="selected"><a href="/Index">Home</a></li>
      <li class=""><a href="/AboutUs">About Us</a></li>
      <li class=""><a href="/ContactUs">Contact Us</a></li>
    </ul>
  </div>
</div>
<!--End of header-->