<div class="home_center_content">
  <div class="home_center_content">
    <div class="box1" id="tab">
      <div class="center_text">
        <div class="big_title">We <span>grow</span> your Business <span>!</span></div>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </div>
      <div class="right_img"><img src="/assets/pic1.jpg" alt=""/></div>
    </div>
    <div class="box1" id="tab1">
      <div class="center_text">
        <div class="big_title">We <span>grow</span> your Business <span>!</span></div>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </div>
      <div class="right_img"><img src="/assets/pic1.jpg" alt="" /></div>
    </div>
    <div class="box1" id="tab2">
      <div class="center_text">
        <div class="big_title">Best <span>clients</span> and work <span>!</span></div>
        <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="right_img"><img src="/assets/pic2.jpg" alt="" /></div>
    </div>
    <div class="box1" id="tab3">
      <div class="center_text">
        <div class="big_title">Well <span>organized</span> team <span>!</span></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
      <div class="right_img"><img src="/assets/pic3.jpg" alt="" /></div>
    </div>
    <ul class="center_button_icons tabset">
      <li id="icon1"> <a href="#tab1" class="tab"> <img src="/assets/icon_news.gif" border="0" alt="" /> </a> </li>
      <li id="icon2"> <a href="#tab2" class="tab"> <img src="/assets/icon_work.gif" border="0"  alt=""/> </a> </li>
      <li id="icon3"> <a href="#tab3" class="tab"> <img src="/assets/icon_team.gif" border="0" alt="" /> </a> </li>
      <li> <a href="#tab" class="tab active"></a> </li>
    </ul>
  </div>
</div>
<!--End of home_center_content-->